 /* Remove the navbar's default margin-bottom and rounded borders */
 
 .navbar {
     margin-bottom: 0;
     border-radius: 0;
 }
 
 .navbar li {
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 40px;
 }
 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 
 .row.content {
     height: 650px
 }
 /* Set gray background color and 100% height */
 
 .sidenav {
     padding-top: 20px;
     background-color: #f1f1f1;
     /* Trick to have sidenav match page length  */
     overflow: hidden;
     margin-bottom: -5000px;
     padding-bottom: 5000px;
 }
 
 .sidenav p {
     position: relative;
     left: 0;
     background-color: #EEE;
     margin: .5em;
     padding: .3em 0;
     height: 1.6em;
     border-radius: 4px;
 }
 
 .sidenav input:hover {
     border-color: lightblue;
     left: .1em;
 }
 
 .top-spacing {
     margin-top: 20px;
 }
 /* Set black background color, white text and some padding */
 
 footer {
     background-color: #555;
     color: white;
     padding: 15px;
 }
 /* On small screens, set height to 'auto' for sidenav and grid */
 
 @media screen and (max-width: 767px) {
     .sidenav {
         height: auto;
         padding: 15px;
     }
     .row.content {
         height: auto;
     }
 }
 /* Gives text box block overlay effect */
 
 background {
     width: 100%;
     height: 100%;
     background-repeat: no-repeat;
     background-size: contain;
 }
 
 .padded-multiline {
     line-height: 1.4;
     padding: 50px 50px 50px 50px;
     height: 800px;
     width: 600px;
     margin: 20px auto;
 }
 
 .padded-multiline span {
     background-color: rgba(0, 0, 0, 0.5);
     font-family: 'Goudy Old Style', garamond, 'book antiqua', 'Times New Roman', Times, serif;
     color: #fff;
     display: inline;
     padding: 0.3rem;
     /* Needs prefixing */
     -webkit-box-decoration-break: clone;
     box-decoration-break: clone;
 }
 
 #twitter_logo {
     cursor: pointer;
 }
 
 #name-row {
     clear: left;
 }
 
 #header {
     color: white;
 }
 
 #saveButton {
     float: right;
 }
 
 #deleteButton {
     float: right;
 }
 
 #counter {
     padding: 12px 0 0 0;
     text-align: center;
     vertical-align: middle;
     color: white;
 }
 /* The switch - the box around the slider */
 
 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
 }
 /* Hide default HTML checkbox */
 
 .switch input {
     display: none;
 }
 /* The slider */
 
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
 }
 
 .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
 }
 
 input:checked+.slider {
     background-color: #2196F3;
 }
 
 input:focus+.slider {
     box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked+.slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
 }
 /* Rounded sliders */
 
 .slider.round {
     border-radius: 34px;
 }
 
 .slider.round:before {
     border-radius: 50%;
 }
 
 .form-response {
     margin-top: 50px;
     clear: left;
 }